.minCard{
    min-height: 100vh;
    background-color: $violOscuro;
    text-align: center;
    .precio{
        color: $btnCompra;
    }
    .botonVino{
        background-color: $violVino;
        width: 100%;
        color: $negro;
        &:hover{
            background-color: $btnCompra;
            color: $blanco;
        }
    }
    
}

