*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $negro;
    font-family: 'Finlandica', sans-serif;
    scroll-behavior: smooth;
    &::selection{
        color: $negro;
        background-color: $violVino;
        
    }
}

body{
    display: grid;
    grid-template-areas: 
        'cabecera'
        'cuerpo'
        'pie';
    grid-template-rows: 100px auto auto;
}
/*Seccion Header Nav*/
header{
    grid-area: cabecera;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $violVino;
    nav{
        width: 100%;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            font-size: larger;
            letter-spacing: 2.5px;
        }
        a img{
            width: 25%;
            overflow: hidden;
        }
        .transNav li{
            transition: all .25s;
            a{
                transition: all .25s;
                &:hover{
                    color: $violOscuro;
                    transition: color .25s;
                }
            }
            &:hover{
                transform: rotate(-10deg);
                border-top: 2px solid $violOscuro;
                transition: all .25s;
            }
        }   
    }
}
