@media screen and (max-width: 991px)
{ 
    body{
        height: 100%;
        display: grid;
        grid-template-areas: 
        'cabeceraM'
        'cuerpoM'
        'pieM';
        grid-template-rows: 1fr;
    }

    /*HEADER MOBILE*/

    .cabeceraMobile{
        grid-area: cabeceraM;
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: 12px;
        padding-bottom: 10px;
    }

    .logoMobile{
        height: 100%;
    }

    .navMobile{
        background-color: $violVino;
        height: 100%;
    }

    .navMobile .ulMobile{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: .5%;
    }

    .navMobile .ulMobile li a{
        margin: 0 2px;
    }

    header nav .transNav li{
        transition: none;
    }
    
    header nav .transNav li a{
        transition: none;
    }
    
    header nav .transNav li:hover{
        transform: none;
        border-top: none;
        transition: none;
    }
    
    header nav .transNav li a:hover{
        color: $violOscuro;
        transition: none;
    }

    /*MAIN MOBILE*/

    .main{
        grid-area: cuerpoM;
        min-height: 60vh;
        max-height: 250vh;
    }

    /*INDEX*/

    .imgDesktop img{
        display: none;
    }

    .imgMobile img{
        display: inline;
    }

    .imgMobile{
        display: flex;
        height: 100%;
        align-items: center;
    }

    /*NOSOTROS MOBILE*/

    .nosotros{
        min-height: 80vh;
        height: auto;
        max-height: 150vh;
    }

    .nosotros .box{
        position: static;
        font-size: 12px;
        width: 80%;
        margin: 2px 0;
    }

    /*MI VINO MOBILE*/

    .miVino{ 
        .miVinoVideo{  
            h3{
                margin: 5px 0;
                font-size: 1.1em;
                text-decoration-line: underline;
                width: 90%;
                padding: 15px;
            }
            iframe{
                max-width: 250px;
                max-height: 150px;
            }
        }
        .miVinoPasos .pasos{
            width: 90%;
        }
    }
    .miVino .miVinoPasos .pasos img{
        border-radius: 10px;
        margin-top: 10px;
        width: 50%;
    }

    /*CARRITO*/
    .container-mobile{
        min-width: 0;
        min-height: 0;
        .minCard{
            min-height: 0;
            align-items: center;
            img{
                max-width: 50%;
            };
            .minTexto{
                min-height: 0;
                max-height: 50vh;
            }
        }
    }
    

    /*FOOTER MOBILE*/

    footer{
        grid-area: pieM;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    footer img{
        display: none;
    }

    footer .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .info ul{
        text-align: center;
        margin: 5px 0;
    }

}