$negro:#000000;
$blanco:#ffffff;
$violOscuro:#7933c0;
$violVino:#a5224e;
$fondoNosotros:rgba(0,0,0,0.8);
$fondoCarrito:rgba(121,51,192,0.5);
$gradienteVino:linear-gradient(180deg,$blanco,$violOscuro);
$btnCompra:#1db91d;
$fondoFooter:#222222;
$neon1:#5fff5f;
$neon2:$violVino;
