@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Finlandica&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
  font-family: "Finlandica", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  color: #000000;
  background-color: #a5224e;
}
*::selection {
  color: #000000;
  background-color: #a5224e;
}

body {
  display: grid;
  grid-template-areas: "cabecera" "cuerpo" "pie";
  grid-template-rows: 100px auto auto;
}

header {
  grid-area: cabecera;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #a5224e;
}
header nav {
  width: 100%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  letter-spacing: 2.5px;
}
header nav a img {
  width: 30%;
}
header nav .transNav li {
  transition: all 0.25s;
}
header nav .transNav li a {
  transition: all 0.25s;
}
header nav .transNav li a:hover {
  color: #7933c0;
  transition: color 0.25s;
}
header nav .transNav li:hover {
  transform: rotate(-10deg);
  border-top: 2px solid #7933c0;
  transition: all 0.25s;
}

.main {
  grid-area: cuerpo;
  height: 100%;
  width: 100%;
  min-height: 80%;
  background-color: #ffffff;
}
.main article {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main article img {
  width: 75%;
}

.imgMobile img {
  display: none;
}

section form {
  background-image: url("../img/viñedo.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
}
section form fieldset textarea {
  resize: none;
  scrollbar-width: auto;
}
section form .boton {
  width: 100px;
  height: 50px;
  margin: 15px;
  background-color: #a5224e;
  border: none;
  border-radius: 5px;
  font-size: large;
}
section form .boton:hover {
  background-color: #7933c0;
}
section form .boton:active {
  border: 1px solid #000000;
  background-color: #ffffff;
}

.nosotros {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-height: 80vh;
  height: auto;
  padding: 1% 0;
  background-image: url("../img/bodega.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.nosotros .box {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: 1% 0;
}
.nosotros .box h3 {
  color: #ffffff;
  letter-spacing: 5px;
}
.nosotros .box p {
  color: #ffffff;
}
.nosotros .boxLarge {
  width: 90%;
}

main {
  width: 100%;
}
main .miVino {
  display: inline-block;
  width: 100%;
  background: linear-gradient(180deg, #ffffff, #7933c0);
  text-align: center;
}
main .miVino h3 {
  margin: 10px;
  font-size: 1.7em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
main .miVino ol li {
  padding: 5px;
  font-size: 1.1em;
}
main .miVino .miVinoVideo {
  display: inline-block;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .miVino .miVinoVideo iframe {
  width: 500px;
  height: 300px;
}
main .miVino .miVinoPasos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
main .miVino .miVinoPasos .pasos {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main .miVino .miVinoPasos .pasos h4 {
  margin-bottom: 5px;
  border-bottom: 2px solid #7933c0;
}
main .miVino .miVinoPasos .pasos img {
  border-radius: 10px;
  margin-top: 10px;
  width: 50%;
}
main .miVino .botonVino {
  width: 100px;
  height: 50px;
  margin: 15px;
  background-color: #a5224e;
  border: none;
  border-radius: 5px;
  font-size: large;
}
main .miVino .botonVino a {
  text-decoration: none;
  color: #000000;
}
main .miVino .botonVino:hover {
  background-color: #ffffff;
}

.minCard, .lastCard {
  min-height: 100vh;
  background-color: #7933c0;
  box-shadow: 2px 2px 15px 2px #a5224e;
  text-align: center;
}
.minCard .minTexto, .lastCard .minTexto {
  min-height: 25vh;
}
.minCard .precio, .lastCard .precio {
  color: #1db91d;
}
.minCard .botonVino, .lastCard .botonVino {
  background-color: #a5224e;
  width: 75%;
  color: #000000;
  -webkit-animation: sombraNeon 1s linear 0s infinite alternate;
          animation: sombraNeon 1s linear 0s infinite alternate;
}
.minCard .botonVino:hover, .lastCard .botonVino:hover {
  color: #ffffff;
  background-color: #5fff5f;
  -webkit-animation: none;
          animation: none;
  box-shadow: 2px 2px 50px 10px #5fff5f;
}

.lastCard {
  background-color: #ffffff;
}

@-webkit-keyframes sombraNeon {
  0% {
    box-shadow: 2px 2px 10px 10px #5fff5f;
  }
  100% {
    box-shadow: 2px 2px 50px 2px #a5224e;
  }
}

@keyframes sombraNeon {
  0% {
    box-shadow: 2px 2px 10px 10px #5fff5f;
  }
  100% {
    box-shadow: 2px 2px 50px 2px #a5224e;
  }
}
footer {
  grid-area: pie;
  background-color: #222222;
  width: 100%;
  /*min-height: 30vh;*/
  display: flex;
  justify-content: space-between;
}
footer img {
  padding-left: 5%;
  width: 25%;
}
footer .info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul li {
  padding: 5px;
  list-style: none;
  color: #ffffff;
}
footer ul li a {
  color: #ffffff;
}
footer ul li a::hover {
  color: #7933c0;
}

@media screen and (max-width: 991px) {
  body {
    height: 100%;
    display: grid;
    grid-template-areas: "cabeceraM" "cuerpoM" "pieM";
    grid-template-rows: 1fr;
  }
  /*HEADER MOBILE*/
  .cabeceraMobile {
    grid-area: cabeceraM;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 12px;
    padding-bottom: 10px;
  }
  .logoMobile {
    height: 100%;
  }
  .navMobile {
    background-color: #a5224e;
    height: 100%;
  }
  .navMobile .ulMobile {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.5%;
  }
  .navMobile .ulMobile li a {
    margin: 0 2px;
  }
  header nav .transNav li {
    transition: none;
  }
  header nav .transNav li a {
    transition: none;
  }
  header nav .transNav li:hover {
    transform: none;
    border-top: none;
    transition: none;
  }
  header nav .transNav li a:hover {
    color: #7933c0;
    transition: none;
  }
  /*MAIN MOBILE*/
  .main {
    grid-area: cuerpoM;
    min-height: 60vh;
    max-height: 250vh;
  }
  /*INDEX*/
  .imgDesktop img {
    display: none;
  }
  .imgMobile img {
    display: inline;
  }
  .imgMobile {
    display: flex;
    height: 100%;
    align-items: center;
  }
  /*NOSOTROS MOBILE*/
  .nosotros {
    min-height: 80vh;
    height: auto;
    max-height: 150vh;
  }
  .nosotros .box {
    position: static;
    font-size: 12px;
    width: 80%;
    margin: 2px 0;
  }
  /*MI VINO MOBILE*/
  .miVino .miVinoVideo h3 {
    margin: 5px 0;
    font-size: 1.1em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    width: 90%;
    padding: 15px;
  }
  .miVino .miVinoVideo iframe {
    max-width: 250px;
    max-height: 150px;
  }
  .miVino .miVinoPasos .pasos {
    width: 90%;
  }
  .miVino .miVinoPasos .pasos img {
    border-radius: 10px;
    margin-top: 10px;
    width: 50%;
  }
  /*CARRITO*/
  .container-mobile {
    min-width: 0;
    min-height: 0;
  }
  .container-mobile .minCard, .container-mobile .lastCard {
    min-height: 0;
    align-items: center;
  }
  .container-mobile .minCard img, .container-mobile .lastCard img {
    max-width: 50%;
  }
  .container-mobile .minCard .minTexto, .container-mobile .lastCard .minTexto {
    min-height: 0;
    max-height: 50vh;
  }
  /*FOOTER MOBILE*/
  footer {
    grid-area: pieM;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  footer img {
    display: none;
  }
  footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .info ul {
    text-align: center;
    margin: 5px 0;
  }
}
/*test1*//*# sourceMappingURL=style.css.map */